@import "variables";

@media screen and (max-width: 1500px) {
    #menu-body {
        .container {
            margin-bottom: 75px;
            padding: 30px 0;
            width: 1100px;
            .menu {
                &__list {
                    .menu-item {
                        min-width: 100%;
                        margin: 30px 0;
                        &__image-block {
                            width: auto;
                            height: 250px;
                        }
                        &__title {
                            font-size: 38px;
                            margin-right: 40px;
                        }
                        &__price {
                            font-size: 38px;
                        }
                        &__size {
                            font-size: 38px;
                        }
                        &__about {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #menu-body {
        .container {
            margin-bottom: 45px;
            padding: 30px 0;
            width: 900px;
        }
    }
}

@media screen and (max-width: 992px) {
    #menu-body {
        .container {
            margin-bottom: 75px;
            padding: 30px 0;
            width: 668px;
        }
    }
}

@media screen and (max-width: 768px) {
    #menu-body {
        .container {
            margin-bottom: 75px;
            padding: 30px 0;
            width: 500px;
            .menu {
                &__title {
                    font-size: 68px;
                }
                &__list {
                    .menu-item {
                        &__image-block {
                            width: auto;
                            height: 230px;
                        }
                        &__size {
                            font-size: 34px;
                        }
                        &__about {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #menu-body {
        .container {
            margin-bottom: 0;
            padding: 20px 0;
            width: 0px;
            .title {
                &__text {
                    font-size: 42px;
                    line-height: 1.3
                }
            }
            .menu {
                margin-top: 20px;
                border: 2px solid $color1;
                padding: 20px 0;
                &__title {
                    font-size: 50px;
                }
                &__list {
                    margin-top: 10px;
                    .menu-item {
                        margin: 20px 0;
                        &__image-block {
                            height: 150px;
                        }
                        &__info {
                            margin: 20px 0;
                        }
                        &__title {
                            font-size: 32px;
                            margin-right: 20px;
                        }
                        &__price {
                            font-size: 32px;
                        }
                        &__size {
                            font-size: 26px;
                            margin: 10px auto;
                        }
                        &__about {
                            font-size: 21px;
                            margin: 0 auto;
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}